body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/background-pattern.png');
  background-size: cover;
}

#game-board {
  border: 2px solid #000;
}

#game-piece {
  border-radius: 5px;
}
