body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/background-pattern.png');
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
}

#game-board {
  position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid #000;
  /* Grid will have 5 rows and 5 columns */
}

#game-piece, #target {
  position: absolute;
  width: 50px;  /* Each cell in the 5x5 grid is 50px by 50px */
  height: 50px;
}

#game-piece {
  background-color: #007bff;
  border-radius: 5px;
}

#target {
  background-color: #28a745;
  border-radius: 5px;
}
